<!--bannerIntroProds-->
    <div class="banner">
        <div class="banner-contenedor">
            <h1>Tutienda</h1>
            <p>El lugar donde encontrarás tus productos favoritos</p>
        </div>
    </div>