<div class="nav-contenedor">
    <nav class="navbar">
        <h2 class="nav-logo">Shop</h2>
        <p id="contenedor-carrito" class="nav-carrito" >🛒<span id="contador-carrito" class="contadorCarrito"></span></p>
    </nav>
</div>