    <div class="filtro-busqueda">
        <input type="text" id="buscador" class="buscador" placeholder="Buscar producto por título...">
        <select id="filtroGenero" class="filtro-genero">
            <option value="">Ver todos</option>
        </select>
    </div>
    <div id="sinResultados" class="sin-resultados">No se encontraron resultados para su búsqueda</div>